{% extends "base.html" %} {% block content %}
<h1 class="mt-4">{{ title }}</h1>
<ol class="breadcrumb mb-4">
  <li class="breadcrumb-item active">{{title}} {{date}}</li>
</ol>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">ID</th>
      <th scope="col">Prefix</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
    </tr>
  </thead>
  <tbody>
    {% for student in students%}
    <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td>{{student.st_id}}</td>
      <td>{{student.prefix_name}}</td>
      <td>{{student.fname}}</td>
      <td>{{student.lname}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}